In [2]:
import pandas as pd

In [5]:
bio_df      = pd.read_csv("../Olympic_data/Olympic_Athlete_Bio_Clean.csv")
event_df    = pd.read_csv("../Olympic_data/Olympic_Athlete_Event_Results_Clean.csv")
result_df   = pd.read_csv("../Olympic_data/Olympic_Results.csv")
game_df     = pd.read_csv("../Olympic_data/Olympics_Games.csv")
country_df  = pd.read_csv("../Olympic_data/Olympics_Country.csv")
medal_df    = pd.read_csv("../Olympic_data/Olympic_Games_Medal_Tally.csv")

In [27]:
del bio_df["Unnamed: 0"]

In [26]:
event_df = event_df.loc[event_df["sport"] == "Swimming"]
del event_df["Unnamed: 0"]

In [63]:
swimNotTeam_df

,athlete_id,name,sex,born,height,weight,country,country_noc_x,edition,edition_id,country_noc_y,sport,event,result_id,athlete,pos,medal,isTeamSport,BMI
0,47153,Natalie Steward,Female,30 April 1943,174.0,70,Great Britain,GBR,1960 Summer Olympics,15,GBR,Swimming,"100 metres Freestyle, Women",5588,Natalie Steward,3,Bronze,False,23.120624
1,47153,Natalie Steward,Female,30 April 1943,174.0,70,Great Britain,GBR,1960 Summer Olympics,15,GBR,Swimming,"100 metres Backstroke, Women",5605,Natalie Steward,2,Silver,False,23.120624
2,50971,Beth Botsford,Female,21 May 1981,165.0,49,United States,USA,1996 Summer Olympics,24,USA,Swimming,"100 metres Backstroke, Women",8207,Beth Botsford,1,Gold,False,17.998163
6,50163,Étienne Dagon,Male,13 September 1960,179.0,74,Switzerland,SUI,1984 Summer Olympics,21,SUI,Swimming,"200 metres Breaststroke, Men",7033,Étienne Dagon,3,Bronze,False,23.095409
7,47749,Manuela Stellmach,Female,22 February 1970,175.0,65,East Germany Germany,GDR,1988 Summer Olympics,22,GDR,Swimming,"200 metres Freestyle, Women",7480,Manuela Stellmach,3,Bronze,False,21.224490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593,115710,Becky Adlington,Female,17 February 1989,179.0,70,Great Britain,GBR,2012 Summer Olympics,54,GBR,Swimming,"400 metres Freestyle, Women",322049,Becky Adlington,3,Bronze,False,21.847009
2594,115710,Becky Adlington,Female,17 February 1989,179.0,70,Great Britain,GBR,2012 Summer Olympics,54,GBR,Swimming,"800 metres Freestyle, Women",322301,Becky Adlington,3,Bronze,False,21.847009
2596,47932,Stev Theloke,Male,18 January 1978,202.0,100,Germany,GER,2000 Summer Olympics,25,GER,Swimming,"100 metres Backstroke, Men",8399,Stev Theloke,3,Bronze,False,24.507401
2601,51207,Sharon Stouder,Female,9 November 1948,173.0,61,United States,USA,1964 Summer Olympics,16,USA,Swimming,"100 metres Freestyle, Women",5770,Sharon Stouder,2,Silver,False,20.381570
2603,51207,Sharon Stouder,Female,9 November 1948,173.0,61,United States,USA,1964 Summer Olympics,16,USA,Swimming,"100 metres Butterfly, Women",5804,Sharon Stouder,1,Gold,False,20.381570

In [74]:
swimBioEvent_df = pd.merge(bio_df,event_df,on="athlete_id")
swimBioEvent_df
swimNotTeam_df = swimBioEvent_df.loc[swimBioEvent_df["isTeamSport"] == False]
swimNotTeam_df = swimNotTeam_df.loc[swimNotTeam_df["weight"] != "58-73"]
swimNotTeam_df = swimNotTeam_df.loc[swimNotTeam_df["weight"] != "75-80"]
swimNotTeam_df["BMI"] = swimNotTeam_df["weight"].astype(float)/((swimNotTeam_df["height"]/100)**2)
swimMedal = swimNotTeam_df[["medal","BMI","height","weight"]]
swimMedal["weight"] = swimMedal["weight"].astype(float)
swimMedal.groupby("medal").mean()
swimMedal.groupby("medal").max()
swimMedal.groupby("medal").min()

C:\Users\kylec\AppData\Local\Temp\ipykernel_2152\1488853774.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  swimMedal["weight"] = swimMedal["weight"].astype(float)

              BMI  height  weight
medal
Bronze  17.916331   150.0    48.0
Gold    17.855321   159.0    49.0
Silver  17.577069   152.0    48.0